@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
    padding: 107px 70px 32px 70px;
    border-bottom: 1px solid #D9D9D9;
}

.hw {

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 24px;
    padding-bottom: 10px;
}

.hwTitle:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    margin: 10px 0 0 -70px;
    border-bottom: 1px solid #D9D9D9;
}